<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Método de Montecarlo</h1>
    <div class="container">
        <form action="/" method="post">
            <div>
                <label>Función </label>
            </div>
            <div>
                <input type="text" name="funcion" id="funcion" value="{{funcion}}">
            </div>
            <div>
                <label>Extremo izquierdo </label>
            </div>
            <div>
                <input type="text" name="izq" id="izq" value="{{izq}}">
            </div>
            <div>
                <label>Extremo derecho </label>
            </div>
            <div>
                <input type="text" name="der" id="der" value="{{der}}">
            </div>
            <div>
                <label>Máximo </label>
            </div>
            <div>
                <input type="text" name="maximo" id="maximo" value="{{maximo}}">
            </div>
            <div>
                <label>Número de puntos </label>
            </div>
            <div>
                <input type="text" name="puntos" id="puntos" value="{{puntos}}">
            </div>
    
            <input type="submit" name="Calcular" value="Calcular">
            <input type="submit" name="Borrar" value="Borrar">
        </form>
    </div>
    <div>
        <p style="font-weight:bold; font-size:30px; color:green">Integral: {{resultado}}</p>
    </div>
</body>
</html>